---
---

@import "{{ site.theme }}";

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

header h1 {
  a {
    text-decoration: none;
    color: inherit;
    text-shadow: inherit;
  }
}

.pre-post {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

.btn-cv .icon {
  opacity: 0.6;
  background: url("../images/cv.png") 0 0 no-repeat;
}

.btn-projects .icon {
  opacity: 0.6;
  background: url("../images/projects.png") 0 0 no-repeat;
}

.comments {
  margin-top: 10px;
}

.posts > .post {
  padding-bottom: 2em;
  margin-bottom: 1em;
  border-bottom: 1px dashed #b5e853;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  .comments {
    margin-top: 10px;
  }

  .post-footer {
    text-align: right;
  }

  .read-more {
    text-transform: uppercase;
    padding-left: 15px;
  }
}

.date {
  font-style: italic;
  color: #666;
}

.pagination {
  padding: 20px;
  text-align: center;
  border: 1px dashed #b5e853;
  color: #b5e853;
  a {
    text-decoration: none;
    color: inherit;
    text-shadow: inherit;
  }
}

footer {
  padding: 20px 0;
  text-align: center;
}

@import "svg-icons";