<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" xml:lang="{{ site.lang | default: "en-US" }}">
  
<head>
  {% include head.html -%}
</head>

<body>
  <header>
    <div class="container">
      <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
      </a>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      {% include navigation.html %}
    </div>
  </header>

  <div class="container">
    <main>
      {{ content }}
    </main>
  </div>
  <footer>
    {%- include footer.html -%}
  </footer>
</body>

</html>
